$borderThickness: 1px;

.sequencerContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 225px;
    border-radius: 3px;
    overflow: hidden;
}



.sequencerNotesGates {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 700px;
    background-color: rgb(239, 239, 239);
}

.notesAndOctaves {
    flex: 1;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#sequencer {
    background-color: rgb(57, 57, 57);
}

.slidersContainer, .sequencerNotes, .noteOctave {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidersContainer {
    flex: 1
}

.sequencerNotes, .noteOctave {
    width: 600px;
}

.sequencerNotes {
    flex: 1;
    border-top: solid black $borderThickness;
    // border-bottom: solid black $borderThickness;
}

.noteOctave {
    flex: 2;
}

.sequencerNotes p {
    text-align: center;
    flex: 1;
    height: 100%;
    border-left: solid black $borderThickness;
    border-right: solid black $borderThickness;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lightFont;
}

.noteOctave div {
    flex: 1
}

.noteOctaveInner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: solid black $borderThickness;
    border-right: solid black $borderThickness;
}

.noteOctaveInner p {
    text-align: center;
    font-family: lightFont;
}

.sequencerNotes p, .noteOctaveInner p {
    margin: 0
}

.downIcon {
    transform: rotate(180deg);
}

.slidersContainer div {
    border-top: solid black $borderThickness;
    border-left: solid black $borderThickness;
    border-right: solid black $borderThickness;

}

#sequencer {
    margin-bottom: 10px;
}