.adsrContainer {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    border: solid black 1px;
    min-height: 225px;
    min-width: 300px;
    max-width: 500px;
    width: 32vw;
    background-color: white;
}

.adsrContainerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adsrContainerInner {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1.5;
}