@font-face {
  font-family: "mainFont";
  src: url("../../assets/fonts/rubik/static/Rubik-Medium.ttf");
}
@font-face {
  font-family: "lightFont";
  src: url("../../assets/fonts/rubik/static/Rubik-Light.ttf");
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(239, 239, 239);
}

.App {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 1435px;
  background-color: rgb(57, 57, 57);
  min-height: 100vh;
}

.btn {
  cursor: pointer;
  background-color: white;
  padding: 0.7rem 0.4rem;
  min-width: 50px;
  max-width: 50px;
  text-align: center;
}

.btn:hover {
  background-color: rgb(112, 112, 112);
}

.activeBtn {
  background-color: black !important;
  color: white;
}

.middleBtn {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  border-left: solid black 0.5px;
  border-right: solid black 0.5px;
}

.endBtnRight {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  border-right: solid black 1px;
  border-left: solid black 0.5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.endBtnLeft {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 0.5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.disabledBtn {
  background-color: rgb(222, 222, 222);
}

.valueIndicator {
  font-family: lightFont;
  font-size: 0.7rem;
  background-color: rgb(246, 246, 246);
  text-align: center;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  max-height: 1.5rem;
  width: 67.5%;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.4);
  border: black solid 0.5px;
}

.slider {
  transform: rotate(270deg);
  max-width: 125px;
  margin-bottom: 40px;
  background-color: rgb(222, 222, 222);
  flex: 1;
}

.slider::-webkit-slider-runnable-track, .slider::-moz-range-track {
  background-color: black;
}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
  background: black;
  width: 6px;
  height: 18px;
  border-radius: 0;
}

.sliderLabel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  border-bottom: solid black 1px;
  height: 100%;
  width: 100%;
  background-color: rgb(117, 117, 117);
}

.sliderLabel p {
  margin: 0;
  margin-bottom: 7px;
}

.sliderContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 5vw;
  border: solid black 1px;
  background-color: rgb(222, 222, 222);
}

.left {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  overflow: hidden;
}

.sliderContainer p {
  flex: 1;
  margin-top: 6px;
}

.rightSideContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.moduleInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-bottom: solid black 1px;
  background-color: rgb(250, 253, 209);
}

.moduleInfo h2 {
  margin: 0;
  border: black solid 2px;
  padding: 0.8rem 1.2rem;
  background-color: rgb(253, 255, 224);
  border-radius: 2px;
}

.keyboardContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 225px;
  min-width: 400px;
  max-width: 600px;
  width: 32vw;
  background-color: rgb(239, 239, 239);
  overflow: hidden;
  border-radius: 3px;
}

.keyboardContainer {
  align-items: stretch;
  width: 35vw;
}

.moduleInfo {
  border-bottom: none;
  background-color: rgb(250, 253, 209);
}

#nexus-ui-sequencer-1 {
  border: black solid 1px;
  padding: 0.5rem;
}/*# sourceMappingURL=App.css.map */