.filterContainer {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 225px;
    min-width: 600px;
    max-width: 800px;
    width: 32vw;
    background-color: white;
    overflow: hidden;
    border-radius: 3px;
}