@import '../../sass/variables';

#matrix {
    border: solid black 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    margin-bottom: 2rem;
    background-color: rgb(57, 57, 57);
}

.matrix {
    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 500px;
        width: 100%;
        background-color: rgb(57, 57, 57);
        margin-top: 8rem;
        h2 {
            text-align: center;
            padding: 1.1rem 0.7rem;
        
        }
        &-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0.7rem 3.5rem 1rem 0.5rem;
            border: solid black 0.5px;
            border-radius: 3px;
            background-color: $lightestBackground;
        }

        .label {
            &-vertical {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                position: relative;
                height: 40px;
            }
            &-horizontal {
                height: 110px;
                position: relative;
                width: 40px
            }
            &-outputs {
                transform: rotate(270deg);
                p {
                    border: solid black 1px;
                    border-radius: 3px;
                    padding: 1rem;
                }
            }
            &-inputs {
                margin-left: 25%;
                padding: 1rem;
                border: solid black 1px;
                border-radius: 3px;
            }
        }
        .labels {
            &-vertical {
                display: table-row;
            }
        }
        .span {
            &-vertical {
                position: absolute;
                transform: rotate(-45deg);
                white-space: nowrap;
                font-family: mainFont;
                bottom: 30%;
                right: 15%;
                transform-origin: center right;
            }
            &-horizontal {
                position: absolute;
                transform: rotate(-45deg);
                white-space: nowrap;
                font-family: mainFont;
                bottom: 5px;
                left: 50%;
                transform-origin: center left;
            }
        }
    }
}
